$font-handwriting: "Dancing Script", cursive;
$font-montserrat: "Montserrat", sans-serif;
$font-nunito: "Nunito", sans-serif;
$font-opensans: "Open Sans", sans-serif;
$font-opensanscond: "Open Sans Condensed", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-roboto: "Roboto", sans-serif;

$color-white: #ffffff;
$color-dirty-white: #fafafa;
$color-purple: #6c63ff;
$color-blue: #00b0ff;
$color-green: #00bfa6;
$color-red: #f50057;
$color-dark-blue: #536dfe;
$color-yellow: #f9a826;
$color-blue-antd: #1890ff;
$color-black: #000;

$color-grey-11: #1f1f1f;
$color-grey-12: #141414;

$color-border: #f0f0f0;
